<div class="l-form__col l-form__col--main">
  <label class="form__label-heading" for="debt_title"><%= html_content[:heading] %></label>
  <div class="form-input">
    <div class="form-input__container">
      <input aria-describedby="debt_title_desc" class="form__text-input input" size="30" type="text" value="">
    </div>
  </div>
  <p class="form__hint">
    <%= html_content[:content] %>
  </p>
</div>
